
<div class="cuerpo">
    <div class="padre">
        <header class="header">
            
        </header>
        <div class="logo-container">
            <a href="/pagina" class="aa">
                <img src="./img/logooo-removebg-preview.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <h1 class="titulo">Registro de dueños</h1>
        <div class="recuadros">
            <div class="contenido-recuadro">
                <p>ficha de adopcion</p>
                <form class="formulario" action="">
                    <label for="">Nombre:</label>
                    <input type="text">
                    <label for="">Edad:</label>
                    <input type="number">
                    <label for="">Correo:</label>
                    <input type="email">
                    <label for="">Telefono:</label>
                    <input type="number">
                    <label for="">Motivo:</label>
                    <input type="text">
                    <input type="image" class="boton" src="./img/btn_adoptar.png" alt="submit">
                </form>
            </div>
            <div class="contenido-recuadro">
                <p>requisitos para adoptar</p>
                <br>
                <h5 class="texto">Requisitos Indispensables:</h5>
                <br>
                <h5 class="condicion">Compromiso a Largo Plazo: La adopción de un gato es una decisión a largo plazo, que implica responsabilidad y cuidados constantes. Debes estar preparado para ofrecerle un hogar estable durante toda su vida (que puede ser de 10 a 20 años o más).</h5>
                <h5 class="condicion">Espacio Adecuado: Debes tener un espacio físico apropiado para el gato, con acceso a comida, agua fresca, una caja de arena limpia, y lugares seguros para descansar y jugar. Los balcones o patios deben estar protegidos para evitar fugas.</h5>
                <h5 class="condicion">Recursos Económicos: Debes tener la capacidad económica para cubrir los gastos de alimentación, atención veterinaria (vacunas, desparasitación, etc.), y otros posibles costos asociados a la salud y bienestar del gato.</h5>
                <br>
                <h5 class="texto">Situaciones que pueden impedir la adopción:</h5>
                <br>
                <h5 class="condicion">Vivienda inadecuada: Si tu vivienda no ofrece las condiciones mínimas de seguridad y confort para un gato, la adopción podría ser denegada.</h5>
                <h5 class="condicion">Ausencia de compromiso: Si no demostramos un compromiso a largo plazo con el bienestar del animal, la adopción podría ser denegada.</h5>
                <br>
                <p class="texto">Cumple con los requisitos? </p>
                <label class="container"> Si
                    <input type="radio" name="requisitos" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container"> No
                    <input type="radio" name="requisitos">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <footer>
        <div class="pie">
            <div class="contenido_pie">
                <h4>Email</h4>
                <p>refumiaugmail.com</p>
            </div>
            <div class="contenido_pie">
                <h4>Ubicacion</h4>
                <p>Imaginalandia</p>
            </div>
        </div>
        <h2 class="titulo_final">© RefuMiau Oficial</h2>
    </footer>
</div>
