
<div class="cuerpo">
    <div class="padre">
        <header class="header">
            
        </header>
        <div class="logo-container">
            <a href="/pagina" class="aa">
                <img src="./img/logooo-removebg-preview.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <h1 class="titulo">Registro de dueños</h1>
        <div class="recuadros">
            <div class="contenido-recuadro">
                <form class="formulario" action="">
                    <label for="">Nombre:</label>
                    <input type="text">
                    <label for="">Edad:</label>
                    <input type="number">
                    <label for="">Correo:</label>
                    <input type="email">
                    <label for="">Telefono:</label>
                    <input type="number">
                    <label for="">Motivo:</label>
                    <input type="text">
                    <input type="image" class="boton" src="./img/btn_enviar.png" alt="submit">
                </form>
            </div>
            <div class="imagen">
                <img src="./img/vecteezy_woman-playing-with-her-cat-at-home-happy-people-having-fun_15928697.png" alt="">
            </div>
        </div>
    </div>

    <footer>
        <div class="pie">
            <div class="contenido_pie">
                <h4>Email</h4>
                <p>refumiaugmail.com</p>
            </div>
            <div class="contenido_pie">
                <h4>Ubicacion</h4>
                <p>Imaginalandia</p>
            </div>
        </div>
        <h2 class="titulo_final">© RefuMiau Oficial</h2>
    </footer>
</div>
