<div class="cuerpo">
    <div class="padre">
        <header class="header">
            
        </header>
        <div class="logo-container">
            <a href="/pagina" class="aa">
                <img src="./img/logooo-removebg-preview.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <h1 class="titulo">Lista de gatos</h1>
        <div class="panel">
            <div class="contenido-panel">
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="imagen-gato" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="imagen-gato" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="imagen-gato" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="contenedor-imagen" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
            </div>

            <div class="contenido-panel">
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="imagen-gato" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
                <div class="recuadros">
                    <div class="contenedor-imagen">
                        <img class="imagen-gato" src="./img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg" alt="">
                    </div>
                    <p>Nombre:</p>
                    <P>Edad:</P>
                    <p>Raza:</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="pie">
        <div class="contenido_pie">
            <h4>Email</h4>
            <p>refumiaugmail.com</p>
        </div>
        <div class="contenido_pie">
            <h4>Ubicacion</h4>
            <p>Imaginalandia</p>
        </div>
    </div>
    <h2 class="titulo_final">© RefuMiau Oficial</h2>
</footer>