
<div class="cuerpo">
    <div class="padre">
        <header class="header">
            
        </header>
        <div class="logo-container">
            <a href="/pagina" class="aa">
                <img src="./img/logooo-removebg-preview.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <div class="panel">
            <div class="contenido-panel">
                <a class="aa" href="/registro-gato">
                    <img class="boton_inicio" src="./img/btn_registro.png" alt="">
                    <p>Registro de gatos</p>
                </a>
                <a class="aa" href="/registro-dueño">
                    <img class="boton_inicio" src="./img/btn_registro_d.png" alt="">
                    <p>Registro de dueños</p>
                </a>
                <a class="aa" href="/lista-gatos">
                    <img class="boton_inicio" src="./img/btn_listado.png" alt="">
                    <p>Listado de gatos</p>
                </a>
                <a class="aa" href="/adopcion">
                    <img class="boton_inicio" src="./img/btn_registro_a.png" alt="">
                    <p>Registro de adopcion</p>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="pie">
            <div class="contenido_pie">
                <h4>Email</h4>
                <p>refumiaugmail.com</p>
            </div>
            <div class="contenido_pie">
                <h4>Ubicacion</h4>
                <p>Imaginalandia</p>
            </div>
        </div>
        <h2 class="titulo_final">© RefuMiau Oficial</h2>
    </footer>
</div>
