
<div class="cuerpo">
    <div class="padre">
        <header class="header">
            
        </header>
        <div class="logo-container">
            <a href="/pagina" class="aa">
                <img src="./img/logooo-removebg-preview.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <div class="panel">
            <a class="aa" href="/pagina">
                <img class="boton" src="./img/btn_entrar.png" alt="">
            </a>
        </div>
    </div>
    <footer>
        <div class="pie">
            <div class="contenido_pie">
                <h4>Email</h4>
                <p>refumiaugmail.com</p>
            </div>
            <div class="contenido_pie">
                <h4>Ubicacion</h4>
                <p>Imaginalandia</p>
            </div>
        </div>
        <h2 class="titulo_final">© RefuMiau Oficial</h2>
    </footer>
</div>
